html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url('../assets/bg-1x.jpg');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Playfair Display', serif;
}

::selection {
    background: #F1DFD1;
}
::-moz-selection {
    background: #F1DFD1;
}